<div class="row">
<h2>QuickDrink Admin Interface</h2>

<div class="large-8 columns">
  <h4>Add drink</h4>
  <%= simple_form_for Drink.new do |f| %>
  <%= f.input :name %>
  <%= f.association :ingredients,   as: :check_boxes %>
  <%= f.submit %>
  <% end %>
</div>

  <div class="large-3 columns">
  <p>Add Ingredient</p>
  <%= simple_form_for Ingredient.new do |f| %>
  <%= f.input :name %>
  <%= f.submit %>
  <% end %>
</div>

</div>

<div class="row">

<div class="large-6 columns">
<div class="panel">
  <h4>Drinks</h4>
  <ul>
    <% @drinks.each do |d| %>
      <li><%= link_to (d.name), drink_path(d) %>- <%= link_to "(delete)", d, :method => :delete, :confirm => "Are you sure?" %></li></li>
    <% end %>
  </ul>
</div>
</div>

<div class="large-6 columns">
<div class="panel">
<h4>Ingredients</h4>

<% @ingredients.each do |i| %>

<li><%= link_to (i.name), ingredient_path(i) %> - <%= link_to "(delete)", i, :method => :delete, :confirm => "Are you sure?" %></li>

<% end %>
</div>
</div>

</div>